* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: General Sans;
}

html body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

main {
  width: 100%;
}

#hero__section {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
}

/* Hero header */

nav {
  display: flex;
  justify-content: space-between;
  padding: 24px 42.701px;
}

nav a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
}

/* Hero main text */

#hero__heading {
  margin-top: 91.6992px;
  padding-bottom: 21.3504px;
  padding-left: 42.7008px;
  padding-right: 42.7008px;
}

#hero__heading h1 {
  font-size: 10.4vw;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 900;
  opacity: .6;
  /* line-height: 60px; */
  letter-spacing: 1px;
}

/* Hero Subtext */

#hero__subtitle h1 {
  padding-left: 168.96px;
  margin-top: -19.968px;
  tab-size: 4;
}

#hero__subtitle {
  width: fit-content;
}

#hero__subtitle h5 {
  text-align: right;
  text-transform: uppercase;
  font-size: 16px;
  /* line-height: 16px; */
}

#hero__subtext {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-transform: uppercase;
  text-align: right;
  font-size: 1.2vw;
  margin-top: 1vw;
  padding-right: 42.7008px;
}

/* Hero Footer */

#hero__footer {
  position: absolute;
  width: 100%;
  bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 42.7008px;
  padding-right: 42.7008px;
}

#hero__footer a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

#icons {
  display: flex;
  gap: 6px;
}

#icons .circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: rgb(229, 231, 235);
  opacity: .75;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ri-arrow-down-line {
  color: black;
  font-weight: 900;
}