/* Project */

#project__section {
  width: 100%;
  /* height: 100vh; */
  background-color: black;
  color: white;
  padding-top: 160px;
  padding-left: 42.7008px;
  padding-right: 172.7008px;
}

.col {
  width: 100%;
  border-top: 1px solid rgba(135, 135, 135, 0.9);
  padding: 3.8vw 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.col h1 {
  font-size: 7vw;
  color: rgb(163, 163, 163);
}

.col h5 {
  font-weight: 300;
  font-size: 16px;
}

.last {
  border-bottom: 1px solid rgba(135, 135, 135, 0.9);
}

.col img {
  display: none;
  height: 40%;
  position: absolute;
  z-index: 999;
}